:root{
    --cor-primaria: rgb(0 107 146);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.organizacao{
    padding: 55px 0;
}

.organizacao h1{
    font-size: 45px;
    font-weight: 300;
    color: var(--cor-primaria)
}

.mini-moni{
    background-color: var(--cor-primaria);
}

.mini-moni h1{
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    padding: 30px;
}


.eixo{
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #eee;
}

.header-eixo{
    width: 100%;
    position: relative;
    background-color: #fff;
}

.container-header-eixo{
    width: 100%;
    max-width: 1200px;
    height: 120px;
    display: flex;
    padding: 0 20px;
    margin: 0 auto;
    align-items: center;
}


.header-eixo img{
    width: 80px;
    height: 80px;
    position: absolute;
}

.header-eixo p{
    color: #222;
    width: 100%;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.container-integ{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    padding: 0 10px;
}

.integ-single{
    width: calc(25% - 20px);
    margin: 10px 10px 20px 10px;
    text-align: center;
}

.box-foto{
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
}

.integ-single img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.integ-single h3{
    font-size: 16px;
    margin: 8px 0;
    color: #222
}

.integ-single p{
    font-size: 14px;
}