@media screen and (max-width: 900px){
    .integ-single{
        width: calc(33.33% - 20px);
        margin: 10px 10px 20px 10px;
        text-align: center;
    }
    
}

@media screen and (max-width: 600px){
    .organizacao h1{
        font-size: 32px;
        font-weight: 300;
        color: var(--cor-primaria)
    }

    .mini-moni h1{
        color: #fff;
        font-weight: 300;
        font-size: 22px;
        padding: 30px;
    }

    .container-header-eixo{
        width: 100%;
        max-width: 1200px;
        height: inherit;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px 20px;
        margin: 0 auto;
        align-items: center;
    }
    
    .header-eixo img{
        width: 80px;
        height: 80px;
        position: relative;
        margin-bottom: 10px;
    }

    .integ-single{
        width: calc(50% - 20px);
        margin: 10px 10px 20px 10px;
        text-align: center;
    }
    
}