@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

footer {
    background-color: #f8f9fa;
    padding: 10px 10px; 
}

#footer_todo {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    align-items: center; 
    border-top: 1px solid #e0e0e0;
    padding: 0 30px; 
}

#footer_esquerda {
    text-align: left;
    display: flex;
    flex-direction: column;

}

#footer_direita h1 {
    font-size: 50px;
    color: #333;
    text-align: right;

}


.footer_link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #006b92;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 8px;
    font-size: 25px;
    transition: background-color 0.3s ease;
}

.footer_link:hover {
    background-color: #01526f;
}


#footer_direita {
    font-family: 'Inter', sans-serif;
    text-align: right;


}

#footer_logo img {

    max-height: 200px; 
    height: auto;
    width: auto;
    display: inline-block;
}


@media (max-width: 768px) {
    #footer_logo img {
        max-height: 150px; 
    }
    #footer_direita h1 {
        font-size: 25px;
        color: #333;
    }
}

@media (max-width: 480px) {
    #footer_logo img {
        max-height: 100px; 
    }
    #footer_direita h1 {
        font-size: 28px;
        color: #333;
 
    }
    .footer_link {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 10px;
        background-color: #006b92;
        color: white;
        text-align: center;
        line-height: 40px;
        border-radius: 8px;
        font-size: 20px;
        transition: background-color 0.3s ease;
    }
}


