*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #006b8f;
    z-index: 99;
}


header nav a{
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
}

header nav a:hover{
    filter: brightness(80%);
}
header img{
    width: 40px;
}

.banner {
    position: relative;
    width: 100%; /* Definindo a largura como 100% */
    background-color: lightblue; /* Apenas para visualização */
    text-align: center; /* Centralizando o conteúdo horizontalmente */
    background-image: url(./img/PNG/Fundo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
}

.banner .center{
    position: relative;
    padding: 80px 20px;
}

.banner .center h3{
    color: #000;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}

.banner .center p{
    font-size: 18px;
    font-weight: bold;
}

.banner img{
    width: 90%;
    max-width: 600px;
}

body {
    margin: 0;
    padding: 0;
    display: flex; /* Usando flexbox */
    flex-direction: column; /* Ajustando a direção para vertical */
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Cor de fundo da página */
    font-family: Arial, Helvetica, sans-serif; /* Família da fonte */
}


.first_topic {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006b8f; /* Cor de fundo da caixa */
    padding: 20px;
    height: 80px;
    border-radius: 0px; /* Borda arredondada */
}

.first_topic .circulo{
    width: 50px;
    height: 50px;
    animation: moveUpDown 1.5s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.topic {
    width: 100%;
    display: block;
    background-color: #006b8f; /* Cor de fundo da caixa */
    padding: 20px;
    border-radius: 0px; /* Borda arredondada */
}

.text {
    width: 80%;
    display: block;
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 0px;
    text-align: justify;
    letter-spacing: 1px; /* Espaçamento entre letras */
    line-height: 1.5; /* Espaçamento entre linhas */
}

h1 {
    color: #ffffff; /* Cor do texto */
    text-align: center;
}

h2 {
    color: #FFFFFF;
    text-align: center;
}

footer {
    margin-top: auto; 
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 10px; 
}



@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


#footer_todo {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    align-items: center; 
    border-top: 1px solid #e0e0e0;
    padding: 0 30px; 
}

#footer_esquerda {
    text-align: left;
    display: flex;
    flex-direction: column;

}

#footer_direita h1 {
    font-size: 50px;
    color: #333;
    text-align: right;

}


.footer_link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #006b92;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 8px;
    font-size: 25px;
    transition: background-color 0.3s ease;
}

.footer_link:hover {
    background-color: #01526f;
}


#footer_direita {
    font-family: 'Inter', sans-serif;
    text-align: right;


}

#footer_logo img {

    max-height: 200px; 
    height: auto;
    width: auto;
    display: inline-block;
}


@media (max-width: 768px) {
    #footer_logo img {
        max-height: 150px; 
    }
    #footer_direita h1 {
        font-size: 25px;
        color: #333;
    }
}

@media (max-width: 480px) {
    #footer_logo img {
        max-height: 100px; 
    }
    #footer_direita h1 {
        font-size: 28px;
        color: #333;
 
    }
    .footer_link {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 10px;
        background-color: #006b92;
        color: white;
        text-align: center;
        line-height: 40px;
        border-radius: 8px;
        font-size: 20px;
        transition: background-color 0.3s ease;
    }
}


