header {
    width: 100%; /* Definindo a largura como 100% */
    background-color: lightblue; /* Apenas para visualização */
    text-align: center; /* Centralizando o conteúdo horizontalmente */
}

body {
    margin: 0;
    padding: 0;
    display: flex; /* Usando flexbox */
    flex-direction: column; /* Ajustando a direção para vertical */
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Cor de fundo da página */
    font-family: Arial, Helvetica, sans-serif; /* Família da fonte */
}

/* Estilizando a tag <nav> */
nav {
    position: fixed; /* Posicionamento fixo */
    top: 0; /* Fixa o nav no topo da janela */
    width: 100%;
    display: flex;
    background-color: #006b8f; /* Cor de fundo da caixa de navegação */
    color: #fff; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
}

/* Estilizando os links de navegação */
nav a {
    float: left;
    color: #fff; /* Cor do texto dos links */
    text-decoration: none; /* Removendo sublinhado padrão */
    margin-right: 20px; /* Espaçamento entre os links */
}

/* Estilizando os links de navegação ao passar o mouse */
nav a:hover {
    text-decoration: underline; /* Adicionando sublinhado ao passar o mouse */
    outline: none; /* Remove a marcação de foco */
}

.first_topic {
    width: 100%;
    margin-top: 50px;
    display: block;
    background-color: #006b8f; /* Cor de fundo da caixa */
    padding: 20px;
    border-radius: 0px; /* Borda arredondada */
}

.topic {
    width: 100%;
    display: block;
    background-color: #006b8f; /* Cor de fundo da caixa */
    padding: 20px;
    border-radius: 0px; /* Borda arredondada */
}

.text {
    width: 80%;
    display: block;
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 0px;
    text-align: justify;
    letter-spacing: 1px; /* Espaçamento entre letras */
    line-height: 1.5; /* Espaçamento entre linhas */
}

h1 {
    color: #ffffff; /* Cor do texto */
    text-align: center;
}

h2 {
    color: #FFFFFF;
    text-align: center;
}

footer {
    margin-top: auto; 
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 10px; 
}



@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


#footer_todo {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    align-items: center; 
    border-top: 1px solid #e0e0e0;
    padding: 0 30px; 
}

#footer_esquerda {
    text-align: left;
    display: flex;
    flex-direction: column;

}

#footer_direita h1 {
    font-size: 50px;
    color: #333;
    text-align: right;

}


.footer_link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #006b92;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 8px;
    font-size: 25px;
    transition: background-color 0.3s ease;
}

.footer_link:hover {
    background-color: #01526f;
}


#footer_direita {
    font-family: 'Inter', sans-serif;
    text-align: right;


}

#footer_logo img {

    max-height: 200px; 
    height: auto;
    width: auto;
    display: inline-block;
}


@media (max-width: 768px) {
    #footer_logo img {
        max-height: 150px; 
    }
    #footer_direita h1 {
        font-size: 25px;
        color: #333;
    }
}

@media (max-width: 480px) {
    #footer_logo img {
        max-height: 100px; 
    }
    #footer_direita h1 {
        font-size: 28px;
        color: #333;
 
    }
    .footer_link {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 10px;
        background-color: #006b92;
        color: white;
        text-align: center;
        line-height: 40px;
        border-radius: 8px;
        font-size: 20px;
        transition: background-color 0.3s ease;
    }
}


