:root{
    --cor-primaria: rgb(0 107 146);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #006b8f;
    z-index: 99;
}


header nav a{
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    font-weight: bold;
}

header nav a:hover{
    filter: brightness(80%);
}
header img{
    width: 40px;
}

.nav-list{
    display: flex;
    list-style: none;
}


.banner {
    position: relative;
    width: 100%; 
    background-color: lightblue; 
    background-image: url(./img/PNG/Fundo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
}

.banner .center{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 80px 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.center-img{
    width: 50%;
}

.center-text{
    width: 50%;
    padding-left: 50px;
    text-align: left;
}

.banner .center .center-text h3{
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin-top: -18px; 
    margin-bottom: 20px;
}

.banner .center .center-text p{
    font-size: 18px;
    font-weight: bold;
}

.banner .center .center-img img{
    width: 100%; 
    height: auto; 
}

.botao_inicial{
    margin-top: 25px;
    font-weight: bold;
}

.botao_inicial a{
    margin: 20px 0;
    border-radius: 10px;
    background-color: var(--cor-primaria);
    padding: 12px 20px;
    text-decoration: none;
    color: #F0F0F0;
}

.botao_inicial a:hover{
    border-style: solid;
    text-decoration: none;
    color: var(--cor-primaria);
    background-color:rgba(0, 107, 146, 0.1);
    border-color: var(--cor-primaria);
    border-width: 2px;
}

.inicial {
    margin: 0;
    padding: 0;
    display: flex; /* Usando flexbox */
    flex-direction: column; /* Ajustando a direção para vertical */
    justify-content: center;
    align-items: center;
    background-color: #fff; /* Cor de fundo da página */
}


.first_topic {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006b8f; /* Cor de fundo da caixa */
    padding: 20px;
    height: 80px;
    border-radius: 0px; /* Borda arredondada */
}

.first_topic .circulo{
    width: 50px;
    height: 50px;
    animation: moveUpDown 1.5s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.topic {
    width: 100%;
    display: block;
    background-color: #006b8f; /* Cor de fundo da caixa */
    padding: 20px;
    border-radius: 0px; /* Borda arredondada */
}

.text {
    width: 100%;
    display: block;
    background-color: #fff;
    border-radius: 0px;
    text-align: justify;
    letter-spacing: 1px; 
    line-height: 1.5;
    font-family: 'Roboto';
}

.center{
    text-align: justify;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 2%;
}



.text h4{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

.lista {
    display:  flex;
    flex-wrap: wrap;
}
.lista ul{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.lista li{
    list-style: none;
    width: 300px;
    display: flex;
    align-items: center;
}
.text img{
    margin-right: 10px;
    width: 25px;
}

h1 {
    color: #ffffff; 
    text-align: center;
}

h2 {
    color: #FFFFFF;
    text-align: center;
}

footer {
    margin-top: auto; 
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 10px; 
}



@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


#footer_todo {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    align-items: center; 
    border-top: 1px solid #e0e0e0;
    padding: 10px 30px; 
}

#footer_esquerda {
    text-align: left;
    display: flex;
    flex-direction: column;

}

#footer_direita h1 {
    font-size: 40px;
    color: #333;
    text-align: right;

}


.footer_link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #006b92;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 8px;
    font-size: 25px;
    transition: background-color 0.3s ease;
}

.footer_link:hover {
    background-color: #01526f;
}


#footer_direita {
    font-family: 'Inter', sans-serif;
    text-align: right;
}

#footer_logo img {

    max-height: 150px; 
    height: auto;
    width: auto;
    display: inline-block;
}



.grid-container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; 
    line-height: 26px;
}

.grid-container .linha{
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.flex-container {
    width: calc(33.33% - 10px);
    margin: 10px 0;
    display: flex;
    align-items: center;
    border-radius: 12px; 
    font-size: 16px;
    height: 150px;
    background-color: rgb(255, 252, 252);
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.36));
}

.flex-container p{
    font-size: 20px;
}

.textodescricao{
    width: calc(100% - 50px);
    padding: 20px;
    font-weight: bold;
}
.flex-center{
    width: 50px;
    padding: 0;
    margin: 0;
    height: 100%;
}

.flex-container .numero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2357A0;
    width: 50px;
    height: 50px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px
}

.custom-style {
    height: auto;
    width: 75px;
    margin-bottom: 32px; 
    color: #DC2626; 
}

.titulo h1{
    color: var(--cor-primaria);
    font-size: 35px;
    font-family: 'Inter';
    margin-bottom: 10px;
}
.titulo p{
    font-weight: bold;
    margin-bottom: 20px;
}

.linee{
    max-width: 700px;
    width: 100%;
    border-bottom: 2px solid var(--cor-primaria);
}

.linee2{
    width: 5%;
    border-bottom: 2px solid var(--cor-primaria);
}

.text-botao{
    width: 100%;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
}

.text-botao .btn-final{
    display: block;
    margin: 0 auto;
    font-size: 30px;
}

.logo-eixos{
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    margin: 0 auto;
}

.logo-eixos .element{
    text-align: center;
    width: calc(33% - 50px);
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 30px;
}

.logo-eixos .element img{
    width: 100px;
}

a{
    text-decoration: none;
    color: unset;
}

.hamburguer{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburguer::before,
.hamburguer::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.5s;
}

.duvidas{
    margin-top: 30px;
    background-color: rgba(0, 107, 146, 0.15);
    width: 100%;
    color: #000;
    height: 100%;
    padding: 40px 0 30px 0;
}
.duvidas h1{
    margin-bottom: 40px;
    color: #0B475B;
}
.duvidas h2{
    text-align: left;
    margin-bottom: 10px;
    color: #0B475B;
}

.informacoes{
    display: flex;
    width: 80%;
    margin: 50px auto;
    justify-content: space-between;
}

.informacoes h2{
    color: #000;
    font-size: 20px;
    margin-bottom: 10px;
}

.informacoes p{
    font-size: 15px;
    text-align: center;
}

.informacoes li{
    text-align: left;
    margin-left: 2%;
    font-size: 15px;
    line-height: 25px;
}

.informacoes .cartao{
    width: calc(30% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F0F0;
    padding: 0px 20px 15px 20px;
    border-radius: 10px;
}

.informacoes .cartao img{
    width: 17%;
    position: relative;
    transform: translateY(-20px)
}