:root{
    --cor-primaria: rgb(0 107 146);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.conteudo {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 15px;
    font-size: 16px;
}

a {
    color: var(--cor-primaria);
    text-decoration: none;
    font-weight: bold;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 50px auto;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 8px 12px;
    text-align: center;
}

.linha-especial, th{
    background-color: #a2a2a2;
}

.linha-especial, .ib, .pc, .bio, .fi, .pg, .qi{
    font-weight: bold;
}

.pc{
    background-color:#a3dbff;
}

.ib{
    background-color: #cbb7ff;
}

.pg{
    background-color: #ffffaf;
}

.bio{
    background-color: #b7ff99;
}

.fi{
    background-color: #ffa2a2;
}

.qi{
    background-color: #b3fff1;
}

.other{
    background-color: #f0f0f0;
}

.time{
    background-color: #dadada;
}
