@media (max-width: 768px) {
    .divisoria {
        height: 40px;
    }

    .nome {
        flex-direction: column;
        margin: 50px 0;
        gap: 10px;
    }

    .nome img {
        position: static;
        transform: none;
        max-width: 50px;
    }

    .nome h1 {
        font-size: 1.5rem;
    }

    .eixos {
        padding: 10px;
    }

    .eixos h2 {
        font-size: 1rem;
    }

    .eixos p {
        font-size: 0.875rem;
    }

    ul {
        padding-left: 15px;
    }

    li {
        font-size: 0.875rem;
    }
}
